.container {
  width: 100%;
  background-color: $mainBlack;
  overflow: hidden;
}

  .content {
    position: relative;
    padding: 6vw 0 12.96vw;
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
  }
    .flex {
      display: flex;
      flex-direction: column;
      gap: 5.26vw;
    }

    .heading {
      @include fontTitleDec();
      z-index: 10;
    }

    .heroSection__title {
      position: absolute;
      top: -18vw;
      left: 19vw;
    }
    .heroSection__video {
      object-fit: cover; 
      border: none;
      outline: none;
      background: transparent;
      display: block; 
      width: 85vw;
      z-index: -10;
    }
  

@media only screen and (max-width: 576px) {
  .heading {
    @include fontTitleDecMedia();
  }
  .heroSection__title {
    display: none;
  }

  .content {
    width: 90%;
  }
}