.container {
  width: 100%;
  background-color: $mainBlack;
  overflow: hidden;
}

  .content {
    position: relative;
    padding: 6vw 0 12.96vw;
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: space-between;
  }
    .flex {
      display: flex;
      flex-direction: column;
      gap: 5.26vw;
    }

    .heading {
      @include fontTitleDec();
      z-index: 10;
      text-shadow: 
      /* Белая обводка */
      -1px -1px 0 rgb(255, 0, 238),
    }

    .heroSection__title {
      position: absolute;
      top: -18vw;
      left: 19vw;
    }
    .heroSection__video {
      width: 85vw;
      z-index: -10;
    }
  
    .ellipse {
      position: absolute;
      display: none;
    }

    .ellipse-two {
      position: absolute;
      display: none;
    }

@media only screen and (max-width: 576px) {
  .heading {
    @include fontTitleDecMedia();
  }
  .heroSection__title {
    display: none;
  }

  .content {
    width: 90%;
  }

  .ellipse {
    width: 69vw;
    display: block;
    top: 25vw;
    left: -23vw;
  }

  .ellipse-two {
    top: -5vw;
    right: -50vw;
    width: 130vw;
    display: block;
  }
}