.form {
  &__container {
    width: 100%;
    margin-top: 10vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 5vw;

    &__BgOne {
      width: 47vw;
      position: absolute;
      left: -17vw;
      bottom: -13vw;
      z-index: 1;
    }

    &__BgTwo {
      width: 50vw;
      position: absolute;
      left: 15vw;
      top: -18vw;
    }

    &__BgThree {
      width: 70vw;
      position: absolute;
      left: 54vw;
      top: -18vw;
    }

    &__BgFour {
      width: 55vw;
      position: absolute;
      bottom: -25vw;
      left: 56vw;
    }
    &__BgLineOne {
      position: absolute;
      display: none;
    }
    &__BgLineTwo {
      position: absolute;
      display: none;
    }
    &__BgLineThree {
      position: absolute;
      left: 18.1vw;
      height: 100vw;
    }
    &__BgLineFour {
      position: absolute;
      right: 30vw;
      height: 40vw;
      top: 5vw;
    }
    &__BgLineFive {
      position: absolute;
      right: 6vw;
      height: 40vw;
      top: 23vw;
    }
    &__BgLineSix {
      position: absolute;
      right: 1vw;
      width: 23vw;
      top: 23.5vw;
    }
    &__BgLineSeven {
      position: absolute;
      right: 1vw;
      width: 170vw;
      top: 63vw;
    }
  }

  &__content {
    width: 76%;
    margin: 0 auto;
    margin-bottom: 5vw;
    z-index: 100;
  }
  &__title {
    margin-top: 3vw;
    @include fontTitleDec2();
    margin-bottom: 5vw;
    text-shadow: 
    /* Белая обводка */
    -1px -1px 0 rgb(255, 176, 250),
    /* Розовая тень */
    0 0 30px rgba(221, 0, 255, .75), 
    0 0 50px rgb(221, 0, 255), 
    0 0 20px rgb(221, 0, 255), 
    0 0 50px rgb(221, 0, 255);
  }
  &__formWindow {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid rgba($mainViolet, 0.8);
    box-shadow: inset 0 0 7vw 1vw rgba(150, 0, 255, 0.4);
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
    padding-right: 4vw;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
  }

  &__formTitle {
    margin-top: 6vw;
    margin-bottom: 4vw;
    @include fontTitleForm();
    width: 37vw;
  }

  &__inputsSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 15vw;
  }

  &__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5vw;
  }

  &__requiredFields {
    @include fontTitleFormInfo2();
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
}
.checkboxLabel {
  @include fontTitleFormInfo();
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox {
  display: none; 
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(150, 0, 255, 0.7);
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s ease;
}

.checkbox:checked + .customCheckbox::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxLabel:hover .customCheckbox {
  border-color: rgba(150, 0, 255, 0.9);
}

.formBtn {
  position: relative;
  margin: 2.3vw 0 5vw 0;
  width: 38vw;
  height: 5.5vw;
  z-index: 100;
}

.inputText {
  width: 38vw;
}

.input {
  width: 26vw;
}

.form__requiredFieldsError {
  @include fontTitleFormInfo();
  color: rgb(227, 0, 57);
}

@media only screen and (max-width: 576px) {
  .form__container__BgLineOne {
    display: block;
    right: 25vw;
    height: 180vw;
  }
  .form__container__BgLineTwo {
    display: block;
    left: 25vw;
    top: 20vw;
    height: 180vw;
  }

  .form__inputsSection {
    flex-direction: column;
    gap: 4vw;
  }
  .form__userInfo {
    gap: 4vw;
  }
  .form__inputsSection {
    height: auto;
  }
  .form__content {
    width: 90%;
  }
  .inputText {
    width: 100%;
    height: 35vw;
  }

  .input {
    width: 100%;
    height: 15vw;
  }
  .form__requiredFields {
    @include fontTitleFormInfoMedia2();
  }
  .checkboxLabel {
    margin-top: 3vw;
    @include fontTitleFormInfoMedia2();
  }

  .checkboxLabel::before {
    content: "";
    border-radius: 0.9vw;
  }

  .checkboxLabel::after {
    width: 2.2vw;
    height: 4.3vw;
    border-width: 0 0.5vw 0.5vw 0;
    top: 0.1vw;
    left: 1.9vw;
  }

  .formBtn {
    margin: 2.3vw 0 10vw 0;
    width: 100%;
    height: 15vw;
  }
  .form__formTitle {
    @include fontTitleMainMedia();
    width: 75%;
  }
  .form__container__BgOne {
    top: 70vw;
    width: 90vw;
    left: 45vw;
  }
  .form__container__BgTwo {
    top: 1vw;
    width: 70vw;
    left: 46vw;
  }
  .form__container__BgThree {
    top: 40vw;
    width: 110vw;
    left: -40vw;
  }
  .form__container__BgFour {
    bottom: -40vw;
    width: 110vw;
    left: -5vw;
  }

  .form__requiredFieldsError {
    @include fontTitleFormInfoMedia2();
    color: rgb(227, 0, 57);
  }
}


