.ourServices {

&__container {
    width: 100%;
    background-color: $mainBlack;
    position: relative;
    overflow: hidden;
    padding-bottom: 5vw;
    

    &__BgOne {
        width: 50vw;
        position: absolute;
        bottom: -3vw;
        left: 8vw;
    }

    &__BgTwo {
        position: absolute;
        width: 35vw;
        left: 32vw;
        bottom: -4vw;
        
    }
    &__BgThree {
        position: absolute;
        right: -15vw;
        width: 60vw;
        top: -5vw;
    }
    &__BgFour {
        position: absolute;
        display: none;
    }

    &__BgLineOne {
        position: absolute;
        top: -10vw;
        left: 39vw;
        height: 50vw;
        z-index: 1;
}

    &__BgLineTwo {
        position: absolute;
        top: -20vw;
        right: 22vw;
        height: 55vw;
        z-index: 1;
    }

    &__BgLineThree {
        position: absolute;
        top: 40vw;
        left: 39vw;
        width: 120vw;
        z-index: 1;
    }

    &__BgLineFour {
        position: absolute;
        top: 20vw;
        left: 57vw;
        height: 60vw;
        z-index: 1;
    }

    &__BgLineFive {
        position: absolute;
        top: 20vw;
        left: -35vw;
        width: 120vw;
        z-index: 1;
    }

    &__BgLineSix {
        position: absolute;
        top: 20vw;
        left: 15vw;
        height: 55vw;
        z-index: 1;
    }
}

&__content {
    width: 76%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

&__title {
        margin-bottom: 4vw;
        margin-top: 2vw;
        @include fontTitleDec2();
}



&__mainSection {
    width: 100%;
}

&__sectionOne {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1vw;
}

&__sectionTwo {
    width: 100%;
    display: flex;
}

&__sectionThree {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1vw;
}
}

.textWindow {
    position: relative;
    max-height: 7vw; 
    margin-bottom: 1.2vw;
    padding-top: 2vw;
    padding-left: 4vw;
    padding-right: 0.5vw;
    padding-bottom: 1vw;
    width: 100%;
    z-index: 100;
    overflow: hidden; 
    display: flex;
    flex-direction: column;  
    transition: max-height 0.6s ease, padding-bottom 0.4s ease; 

    &:hover {
        max-height: 50vw; 
        padding-bottom: 1vw; 
        transition: max-height 2s ease;
    }
}

.ourServices__list {
    @include fontTitleListServeces();
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-left: 0.5vw;
}



.ourServices__logo {
    position: absolute;
    top: 2vw;
    left: 1.5vw;
    width: 2vw;
}

.ourServices__video {
    width: 40%;
    height: auto;  
    object-fit: cover; 
    border: none;
    outline: none;
    background: transparent;
    display: block; 
    transform: translateX(-6vw);
  }

  

  @media only screen and (max-width: 576px) {

    .ourServices__container {
        padding-bottom: 20vw;
    }
    
    .ourServices__content {
        width: 90%;
        margin: 0 auto;
    }

    .ourServices__title {
        margin-bottom: 9vw;
    }

    .textWindow {
        max-height: 16vw; 
        width: 90%;
        padding-left: 8vw;
        margin-bottom: 3vw;

      
        &:hover {
          max-height: 140vw; 
        }
      
    }

    .ourServices__list {
        @include fontTitleListServeces();
        margin-top: 2vw;
        padding-left: 1vw;
        gap: 1.5vw;
    }

    .ourServices__sectionOne {
        display: flex;
        flex-direction: column;
    
    }
    .ourServices__sectionTwo {
        margin: 1vw 0 1vw 0;
    }

    .ourServices__sectionThree {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .ourServices__logo {
        left: 3vw;
        width: 4vw;
    }
    .ourServices__container__BgTwo {
       display: none;
    }
    .ourServices__container__BgOne {
        width: 70vw;
        bottom: -16vw;
        left: -10vw;
    }
    .ourServices__container__BgThree {
        width: 90vw;
        top: 18vw;
        right: -20vw;
    }
    .ourServices__container__BgFour {
        display: flex;
        width: 70vw;
        top: 70vw;
        left: -30vw;
    }


    .ourServices__container__BgLineOne {
        top: -70vw;
        left: 85vw;
        height: 120vw;
        z-index: 1;
}

.ourServices__container__BgLineTwo {
    top: 100vw;
    height: 110vw;
    left: 70vw;
    }

    .ourServices__container__BgLineThree {
        display: none;
    }

    .ourServices__container__BgLineFour {
        display: none;
    }

    .ourServices__container__BgLineFive {
        top: 167vw;
        width: 280vw;
    }

    .ourServices__container__BgLineSix {
        height: 147vw;
    }
  }