.ourServices {

&__container {
    width: 100%;
    background-color: $mainBlack;
    position: relative;
    overflow: hidden;
    

    &__BgOne {
        width: 50vw;
        position: absolute;
        bottom: -3vw;
        left: 8vw;
    }

    &__BgTwo {
        position: absolute;
        width: 35vw;
        left: 32vw;
        bottom: -4vw;
        
    }
    &__BgThree {
        position: absolute;
        right: -15vw;
        width: 60vw;
        top: -5vw;
    }
    &__BgFour {
        position: absolute;
        display: none;
    }

    &__BgLineOne {
        position: absolute;
        top: -1vw;
        left: 39vw;
        height: 41vw;
        z-index: 1;
}

    &__BgLineTwo {
        position: absolute;
        top: -2vw;
        right: 22vw;
        height: 41vw;
        z-index: 1;
    }

    &__BgLineThree {
        position: absolute;
        top: 40vw;
        left: 39vw;
        width: 85vw;
        z-index: 1;
    }

    &__BgLineFour {
        position: absolute;
        top: 20vw;
        left: 57vw;
        height: 35vw;
        z-index: 1;
    }

    &__BgLineFive {
        position: absolute;
        top: 20vw;
        left: -5vw;
        width: 80vw;
        z-index: 1;
    }

    &__BgLineSix {
        position: absolute;
        top: 20vw;
        left: 15vw;
        height: 50vw;
        z-index: 1;
    }
}

&__content {
    width: 76%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

&__title {
        margin-bottom: 4vw;
        margin-top: 2vw;
        @include fontTitleDec2();
}



&__mainSection {
    width: 100%;
}

&__sectionOne {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1vw;
}

&__sectionTwo {
    width: 100%;
    display: flex;
}

&__sectionThree {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1vw;
}
}

.textWindow {
    position: relative;
    height: 7.5vw;
    margin-bottom: 1.2vw;
    padding-top: 2vw;
    padding-left: 6vw;
    transition: height 0.3s ease; 
    width: 100%;
    z-index: 100;

    &:hover {
        height: 11vw;
    }
}

.ourServices__logo {
    position: absolute;
    top: 2vw;
    left: 3vw;
    width: 2vw;
}

.ourServices__video {
    width: 40%;
    height: auto;  
    object-fit: cover; 
    border: none;
    outline: none;
    background: transparent;
    display: block; 
    transform: translateX(-6vw);
  }

  @media only screen and (max-width: 576px) {
    .ourServices__content {
        width: 90%;
        margin: 0 auto;
    }

    .ourServices__title {
        margin-bottom: 9vw;
    }
    .textWindow { 
        height: 17vw;
        width: 90%;
        padding-left: 8vw;
        margin-bottom: 3vw;

        &:hover {
            height: 20vw;
        }
    }
    .ourServices__sectionOne {
        display: flex;
        flex-direction: column;
    
    }
    .ourServices__sectionTwo {
        margin: 1vw 0 1vw 0;
    }

    .ourServices__sectionThree {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .ourServices__logo {
        left: 3vw;
        width: 4vw;
    }
    .ourServices__container__BgTwo {
       display: none;
    }
    .ourServices__container__BgOne {
        width: 70vw;
        bottom: -16vw;
        left: -10vw;
    }
    .ourServices__container__BgThree {
        width: 90vw;
        top: 18vw;
        right: -20vw;
    }
    .ourServices__container__BgFour {
        display: flex;
        width: 70vw;
        top: 70vw;
        left: -30vw;
    }
  }