.container {
  width: 100%;
  background-color: $mainBlack;
  height: 60vw;
  overflow: hidden;
  position: relative;
  padding-bottom: 6vw;
}

.content {
  position: relative;
  width: 76%;
  margin: 0 auto;
}

.stage-work__text {
  display: inline;
  @include fontProcessStepText();
  cursor: default;
}

.stage-work-one,
.stage-work-five,
.stage-work-six {
  display: flex;
  align-items: center;
  gap: 1.35vw;
}

.stage-work-two,
.stage-work-three,
.stage-work-four {
  display: flex;
  flex-direction: column;
}

.stage-step--three {
  margin-left: 3.6vw;
}

.stage-work-one {
  position: absolute;
  top: 20vw;
  left: 22vw;
  width: 100%;
}

.stage-work-two {
  position: absolute;
  top: 16vw;
  left: 47vw;
  width: 100%;
}

.stage-work-three {
  position: absolute;
  top: 14vw;
  left: 68vw;
  width: 100%;
}

.stage-work-four {
  position: absolute;
  top: 39vw;
  left: 56vw;
  width: 100%;
}

.stage-work-five {
  position: absolute;
  top: 42vw;
  left: 35vw;
  width: 100%;
}

.stage-work-six {
  position: absolute;
  top: 40vw;
  left: 8vw;
  width: 100%;
}

.stage-animation {
  position: absolute;
  width: 100%;
  border: none;
  outline: none;
  object-fit: cover;
  display: block;
  top: 5vw;
}

.stage-title {
  position: absolute;
  top: 3vw;
  margin-top: 3vw;
  @include fontTitleDec2();
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stage-work-one,
.stage-work-two,
.stage-work-three,
.stage-work-four,
.stage-work-five,
.stage-work-six {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.stage-work--visible {
  opacity: 1;
  transform: scale(1);
}

.bg-line-one {
  position: absolute;
  height: 55vw;
  right: -9vw;
}

.bg-line-two {
  position: absolute;
  width: 70vw;
  right: -16vw;
  top: 55vw;
  z-index: 100;
}

.bg-line-three {
  position: absolute;
  width: 70vw;
  left: -43vw;
  top: 59vw;
  z-index: 100;
}

.bg-line-four {
  position: absolute;
  height: 40vw;
  left: 27vw;
  top: 53vw;
  z-index: 100;
}

.bg-line-five {
  position: absolute;
  height: 38vw;
  right: 10vw;
  top: 50vw;
  z-index: 100;
}


@media only screen and (max-width: 576px) {
  .content {
    width: 90%;
  }

  .container {
    height: 75vw;
  }

  .stage-animation {
    width: 100%;
    top: 19vw;
  }

  .stage-work__text {
    width: 7%;
    @include fontProcessStepTextMedia();
  }

  .stage-work-one,
  .stage-work-two,
  .stage-work-three {
    flex-direction: column-reverse;
  }
  .stage-work-four,
  .stage-work-five,
  .stage-work-six {
    flex-direction: column;
  }

  .stage-work-one {
    top: 23vw;
    left: -10vw;
    width: 90%;
  }

  .stage-work-two {
    top: 20vw;
    left: 54vw;
    width: 90%;
  }

  .stage-work-three {
    top: 19vw;
    left: 79vw;
    width: 90%;
    .stage-step--three {
      margin: 0;
    }
  }

  .stage-work-four {
    top: 53vw;
    left: 62vw;
    width: 90%;
  }

  .stage-work-five {
    top: 58vw;
    left: 2vw;
    width: 90%;
  }

  .stage-work-six {
    top: 54vw;
    left: -23vw;
    width: 90%;
  }

  .bg-line-one {
    display: none;
  }
  
  .bg-line-two {
    display: none;
  }
  
  .bg-line-three {
    display: none;
  }
  
  .bg-line-four {
    display: none;
  }
  
  .bg-line-five {
    display: none;
  }
  

}

