.container {
  position: relative;
  width: 100%;
  background-color: $mainBlack;
  padding-bottom: 46vw;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 76%;
  margin: 0 auto;
}

.stage-work__text {
  display: inline;
  @include fontProcessStepText();
  cursor: default;
}

.stage-work-one,
.stage-work-five,
.stage-work-six {
  display: flex;
  align-items: center;
  gap: 1.35vw;
}

.stage-work-two,
.stage-work-three,
.stage-work-four {
  display: flex;
  flex-direction: column;
}

.stage-step--three {
  margin-left: 3.6vw;
}

.stage-work-one {
  position: absolute;
  top: 28vw;
  left: 22vw;
  width: 100%;
}

.stage-work-two {
  position: absolute;
  top: 24vw;
  left: 47vw;
  width: 100%;
}

.stage-work-three {
  position: absolute;
  top: 19vw;
  left: 66vw;
  width: 100%;
}

.stage-work-four {
  position: absolute;
  top: 47vw;
  left: 56vw;
  width: 100%;
}

.stage-work-five {
  position: absolute;
  top: 48vw;
  left: 35vw;
  width: 100%;
}

.stage-work-six {
  position: absolute;
  top: 47vw;
  left: 9vw;
  width: 100%;
}

.stage-animation {
  position: absolute;
  width: 100%;
  border: none;
  outline: none;
  object-fit: cover;
  display: block;
  top: 12vw;
}

.stage-title {
  margin-top: 3vw;
  @include fontTitleDec2();

  text-shadow: 
  /* Белая обводка */
  -1px -1px 0 rgb(255, 176, 250),
  /* Розовая тень */
  0 0 30px rgba(221, 0, 255, .75), 
  0 0 50px rgb(221, 0, 255), 
  0 0 20px rgb(221, 0, 255), 
  0 0 50px rgb(221, 0, 255);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stage-work-one,
.stage-work-two,
.stage-work-three,
.stage-work-four,
.stage-work-five,
.stage-work-six {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.stage-work--visible {
  opacity: 1;
  transform: scale(1);
}

@media only screen and (max-width: 576px) {
  .content {
    width: 90%;
  }

  .stage-work__text {
    width: 7%;
    @include fontProcessStepTextMedia();
  }

  .stage-work-one,
  .stage-work-two,
  .stage-work-three {
    flex-direction: column-reverse;
  }

  .stage-work-four,
  .stage-work-five,
  .stage-work-six {
    flex-direction: column;
  }

  .stage-work-one {
    top: 17vw;
    left: -8vw;
    width: 90%;
  }

  .stage-work-two {
    top: 13vw;
    left: 55vw;
    width: 90%;
  }

  .stage-work-three {
    top: 10vw;
    left: 77vw;
    width: 90%;
    .stage-step--three {
      margin: 0;
    }
  }

  .stage-work-four {
    top: 47vw;
    left: 63vw;
    width: 90%;
  }

  .stage-work-five {
    top: 51vw;
    left: 3vw;
    width: 90%;
  }

  .stage-work-six {
    top: 47vw;
    left: -22vw;
    width: 90%;
  }
}
