.reasonsToWorkWithUs {
  &__container {
    width: 100%;
    position: relative;
    padding-bottom: 5vw;
    background-color: $mainBlack;
    overflow: hidden;

    &__BgOne {
        width: 45vw;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__BgTwo {
        position: absolute;
        width: 35vw;
        left: 26vw;
        bottom: -6vw;
        
    }
    &__BgThree {
        position: absolute;
        right: 3vw;
        width: 60vw;
        bottom: -2vw;
    }
  }

  &__content {
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
  }

  &__mainSection {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
    &__mainSection__title {
        width: 65%;
        margin-bottom: 6vw;
        margin-top: 3vw;
        @include fontTitleDec2();
        text-shadow: 
         /* Белая обводка */
         -1px -1px 0 rgb(255, 176, 250),
         /* Розовая тень */
         0 0 30px rgba(221, 0, 255, .75), 
         0 0 50px rgb(221, 0, 255), 
         0 0 20px rgb(221, 0, 255), 
         0 0 50px rgb(221, 0, 255);
    }

    &__mainSection__reasons {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5vw;
    }

    &__animation {
        z-index: 100;
        margin-top: 1vw;
    }
  }

   .textWindow:nth-child(3) {
   margin-left: 5vw;
  }

  .textWindow {
    box-sizing: border-box;
    position: relative;
    margin-right: 6vw;
    width: 25.3vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    padding-top: 3.1vw;
    padding-left: 3vw;
    padding-right: 0.3vw;
  }

  .textWindow:nth-child(4) {
    margin-right: 0;
   }

   .numberWindow {
    position: absolute;
    top: 3.1vw;
    left: 1.2vw;
   }

  @keyframes swing {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(7deg); }
    40% { transform: rotate(-7deg); }
    50% { transform: rotate(5deg); }
    60% { transform: rotate(-5deg); }
    70% { transform: rotate(3deg); }
    80% { transform: rotate(-3deg); }
    90% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
  }
  
  .reasonsToWorkWithUs__animation img.swing {
    animation: swing 3s ease-in-out;
    transform-origin: top center;
  }
  
  .reasonsToWorkWithUs__animation img.lamp {
    display: block;
    position: relative;
    z-index: 100;
    width: 5.5vw;
    cursor: pointer;
  }
  
  .reasonsToWorkWithUs__animation img.light {
    display: none;
    position: absolute;
    top: 7vw;
    right: 1.2vw;
    width: 28vw;
  }
  
  .reasonsToWorkWithUs__animation img.light.on {
    display: block;
  }

  .lampUpperPart {
    top: 0;
    right: 12.9vw;
    position: absolute;
    width: 3.7vw;
  }


  @media only screen and (max-width: 576px) {
    .reasonsToWorkWithUs__mainSection__reasons {
      display: flex;
      flex-direction: column;
    }

    .textWindow:nth-child(3) {
      margin-left: 0vw;
     }

     .textWindow {
      width: 80%;
      height: 25vw;
      padding-top: 8vw;
      padding-left: 9vw;
      padding-right: 3vw;
     }

     .reasonsToWorkWithUs__content {
      width: 90%;
     }

     .numberWindow {
      top: 8vw;
      left: 5vw;
     }

     .lampUpperPart {
      top: -1vw;
      right: 1vw;
      position: absolute;
      width: 7vw;
    }
    .reasonsToWorkWithUs__animation {
      z-index: 100;
      margin-top: 1vw;
      transform: translateX(-8vw);
  }
  .reasonsToWorkWithUs__animation img.lamp {
    width: 9vw;
  }
  
  .reasonsToWorkWithUs__animation img.light {
    top: 12vw;
    right: -15vw;
    width: 40vw;
  }
  .reasonsToWorkWithUs__container__BgOne {
   display: none;
}
.reasonsToWorkWithUs__container__BgTwo {
    position: absolute;
    width: 50vw;
    left: -10vw;
    top: 6vw;
    
}
.reasonsToWorkWithUs__container__BgThree {
    right: -30vw;
    width: 120vw;
    top: 1vw;
}
  }