.container {
    width: 100%;
    margin: 0 auto;
    position: relative;

    &__BgOne {
        position: absolute;
        bottom: -30vw;
        left: -50vw;
        width: 140vw;
    }

    &__BgTwo {
        position: absolute;
        bottom: 80vw;
        left: 30vw;
        width: 170vw;
    }

    &__BgThree {
        position: absolute;
        bottom: 100vw;
        left: -60vw;
        width: 120vw;
    }

    &__BgLineOne {
        position: absolute;
        bottom: -8vw;
        right: -160vw;
        width: 220vw;
    }

    &__BgLineTwo {
        position: absolute;
        bottom: -88vw;
        right: 10vw;
        height: 110vw;
        z-index: 1;
    }
}

.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.slider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    &Info {
        width: 70%;
        display: flex;
        flex-direction: column
    }
}

.verticalText {
    @include fontTitleDecSlider();
}



.infoTeam__text {
    @include fontTitleMain();
}

.title {
    @include fontTitleDec2();
    margin-bottom: 9vw;
}

.textWindow{

    margin-top: 4vw;

    &__text {
        padding: 3vw 7vw 3vw 7vw;
        @include fontTitleMainMedia();
    }
}