.container {
  width: 100%;
}
  .content {
    padding: 0.4688vw 0 0.4688vw 0;
    width: 76%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    .header-logo {
      width: 8vw;
    }

    .header-socials {
      display: flex;
      gap: 1.1458vw;

      &-img {
        width: 3vw;
      }
    }


.headerNavbar__Menu {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 60%;
  padding-right: 0;
}


@media only screen and (max-width: 576px) {
  .content {
    width: 90%;
  }
  .header-logo {
    width: 12vw;
  }
  .header-socials-img {
      width: 5vw;
    }
  
}