.container {
  width: 100%;
  background-color: $mainBlack;

  .content {
    padding: 0.4688vw 0 0.4688vw 0;
    width: 76%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
      width: 10vw;
    }

    .nav-menu {
      display: flex;
      gap: 3.6979vw;

      .nav-link {
        text-decoration: none;
        color: $mainWhite;
        @include fontTitleHeader();;
      }
    }

    .header-socials {
      display: flex;
      gap: 1.1458vw;

      &-img {
        width: 2vw;
      }
    }
  }
}
