.container {
    width: 100%;
    background-color: $mainBlack;
    margin-bottom: 7vw;
  
    .content {
      padding: 0.4688vw 0 0.4688vw 0;
      width: 76%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
     

  
      .header-logo {
        width: 8vw;
      }
  
    
  
      .header-socials {
        display: flex;
        gap: 1.1458vw;
        z-index: 20;
  
        &-img {
          width: 2.5vw;
        }
      }
    }
  }

  .footerNavbar__Menu{
    display: flex;
    flex-direction: column;
    gap: 3vw;
  }