.container {
  width: 100%;
  margin: 0 auto;
}

  .content {
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: 0 auto;
    position: relative;
  }



  .team-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }


    .info-team {
      width: 52vw;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

      .info-team__name {
        @include fontTitleForm();
      }

      .info-team__text {
        width: 24vw;
        @include fontTitleHeader();
      }
    
      .info-block {
        padding-top: 5vw;
      }

      .img-block {
        padding-top: 15vw;
        position: relative;
      }

      .image-profile {
        position: absolute;
        bottom: 0;
        z-index: 100;
      }


      .title {
        margin-top: 3vw;
        @include fontTitleDec2();
        margin-bottom: 5vw;
      }

      .bg-line-one {
        position: absolute;
        top: 13vw;
        left: 6.1vw;
        height: 57vw;
      }

      .bg-line-two {
        position: absolute;
        top: 28vw;
        left: 30vw;
        width: 20vw;
      }

      .bg-line-three {
        position: absolute;
        top: 28vw;
        left: 80vw;
        width: 20vw;
      }

      .bg-line-four {
        position: absolute;
        top: 15vw;
        left: -80vw;
        width: 115vw;
      }

      .vertical-text {
        position: absolute;
        top: 17vw;
        left: 13vw;
        writing-mode: vertical-rl;
        transform: rotate(360deg); 
        text-orientation: sideways;
        @include fontTitleDecSlider();
        z-index: 1;
      }
      

  @media only screen and (max-width: 576px) {
    .vertical-text {
      top: 29vw;
    }
  }