.container {
  width: 100%;
  margin: 0 auto;
}

  .content {
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: 0 auto;
  }

  .team-info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }


    .info-team {
      width: 52vw;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

      .info-team__name {
        @include fontTitleForm();
      }

      .info-team__text {
        width: 24vw;
        @include fontTitleHeader();
      }
    
      .info-block {
        padding-top: 5vw;
      }

      .img-block {
        padding-top: 15vw;
        position: relative;
      }

      .image-profile {
        position: absolute;
        bottom: 0;
      }


      .title {
        margin-top: 3vw;
        @include fontTitleDec2();
        margin-bottom: 5vw;
        text-shadow: 
        /* Белая обводка */
        -1px -1px 0 rgb(255, 176, 250),
        /* Розовая тень */
        0 0 30px rgba(221, 0, 255, .75), 
        0 0 50px rgb(221, 0, 255), 
        0 0 20px rgb(221, 0, 255), 
        0 0 50px rgb(221, 0, 255);
      }
