@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

@font-face {
  font-family: 'VlaShu';
  src: url('../../../public/fonts/VlaShu/VlaShu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@mixin VlaShu($font-size, $font-weight, $line-height) {
  font-family: "VlaShu", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin mulish($font-size, $font-weight, $line-height){
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@mixin fontTitleDec() {
  @include VlaShu(76px, 500, 120%);
  text-transform: uppercase;
  color: $mainWhite;
}

@mixin fontTitleDec2() {
  @include VlaShu(32px, 500, 120%);
  text-transform: uppercase;
  color: $mainPink;
}

@mixin fontTitleHeader() {
  @include mulish(16px, 400, 120%);
  color: $mainWhite;
}

@mixin fontTitleMain() {
  @include mulish(18px, 500, 120%);
  color: $mainWhite;
}