@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");

@font-face {
  font-family: "VlaShu";
  src: url("../../../public/fonts/VlaShu/VlaShu.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@mixin VlaShu($font-size, $font-weight, $line-height) {
  font-family: "VlaShu", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin mulish($font-size, $font-weight, $line-height) {
  font-family: "Mulish", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin fontTitleDec() {
  @include VlaShu(4.4vw, 700, 120%);
  text-transform: uppercase;
  color: $mainWhite;
}

@mixin fontTitleDec2() {
  @include VlaShu(3vw, 500, 120%);
  text-transform: uppercase;
  color: $mainPink;
}

@mixin fontTitleHeader() {
  @include mulish(1.3vw, 400, 120%);
  color: $mainWhite;
}

@mixin fontTitleMain() {
  @include mulish(1.5vw, 400, 120%);
  color: $mainWhite;
}

@mixin fontTitleForm() {
  @include mulish(2.1vw, 600, 160%);
  color: $mainWhite;
}

@mixin fontTitleFormInfo() {
  @include mulish(1.4vw, 500, 160%);
  color: $formGrey;
}

@mixin fontTitleFormInfo2() {
  @include mulish(1.1vw, 400, 160%);
  color: $formGrey;
}

@mixin fontTitleDecMedia() {
  @include VlaShu(8vw, 700, 120%);
  text-transform: uppercase;
  color: $mainWhite;
}

@mixin fontTitleMainBtnMedia() {
  @include mulish(5vw, 400, 120%);
  color: $mainWhite;
}

@mixin fontTitleMainMedia() {
  @include mulish(3.6vw, 300, 120%);
  color: $mainWhite;
}

@mixin fontTitleFormMedia() {
  @include mulish(2.1vw, 600, 160%);
  color: $mainWhite;
}

@mixin fontTitleFormInfoMedia() {
  @include mulish(3.8vw, 400, 160%);
  color: $formGrey;
}

@mixin fontTitleFormInfoMedia2() {
  @include mulish(3vw, 400, 160%);
  color: $formGrey;
}

@mixin fontTitleFormInfoBtnMedia() {
  @include mulish(5.7vw, 400, 160%);
  color: $mainWhite;
}

@mixin fontTitleHeaderMedia() {
  @include mulish(2.3vw, 400, 120%);
  color: $mainWhite;
}

@mixin fontProcessStepText() {
  @include mulish(1.25vw, 400, 120%);
  color: $mainWhite;
}
