.nav-link {
    position: relative;
    text-decoration: none;
    color: $mainWhite;
    @include fontTitleHeader();
  

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.4vw;
      height: 1px; 
      width: 0; 
      background-color: $mainWhite; 
      transition: width 0.3s ease; 
    }
  
    &:hover::after {
      width: 100%; 
    }
  }
  
  @media only screen and (max-width: 576px) {
    .nav-link {
      @include fontTitleHeaderMedia();
    }
  }